@model IEnumerable<DVPRO.DATA.EF.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Sales</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SaleTotal)*@Sale Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Salesperson)*@Sales Person
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SaleId">@Html.DisplayFor(modelItem => item.SaleDate)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPersonFullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SaleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SaleId">Details</a> |

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>

    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('M/D/YYYY');
            $('.datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}
