<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] | Atomic Synergistics</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/ASfavicon.png" rel="icon">
    <link href="~/assets/img/AS-touch-icon.png" rel="AS-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Export Button CSS StyleSheets -->
    <link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" rel="stylesheet" />

    <!-- Useful CDNs -->
    <link rel="stylesheet" href="https://unpkg.com/&#64;coreui/icons@2.0.0-beta.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    @*<link href="~/assets/css/main.css" rel="stylesheet">*@

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block"><i class="cib-atom"></i>&ensp;Atomic Synergistics</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <!-- End Dashboard Nav -->
            <!-- ADMIN NAV START -->
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link " href=" @Url.Action("Dashboard", "Charts")">
                        <i class="cib-atom"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Admin</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="components-nav" class="nav-content show " data-bs-parent="#sidebar-nav">
                        <li>
                            <a id="customers" href="@Url.Action("Index","Customers")">
                                <i class="bi bi-circle"></i><span>Customers</span>
                            </a>
                        </li>
                        <li>
                            <a id="sales" href="@Url.Action("Index", "Sales")">
                                <i class="bi bi-circle"></i><span>Sales</span>
                            </a>
                        </li>
                        <li>
                            <a id="saleProducts" href="@Url.Action("Index", "SaleProducts")">
                                <i class="bi bi-circle"></i><span>Product Sales</span>
                            </a>
                        </li>
                        <li>
                            <a id="productStatus" href="@Url.Action("Index", "ProductStatus")">
                                <i class="bi bi-circle"></i><span>Product Status</span>
                            </a>
                        </li>
                        <li>
                            <a id="employees" href="@Url.Action("Index", "Employees")">
                                <i class="bi bi-circle"></i><span>Employees</span>
                            </a>
                        </li>
                        <li>
                            <a id="products" href="@Url.Action("Index", "Products")">
                                <i class="bi bi-circle"></i><span>Products</span>
                            </a>
                        </li>
                        <li>
                            <a id="productTypes" href="@Url.Action("Index", "ProductTypes")">
                                <i class="bi bi-circle"></i><span>Product Types</span>
                            </a>
                        </li>
                        <li>
                            <a id="departments" href="@Url.Action("Index", "Departments")">
                                <i class="bi bi-circle"></i><span>Departments</span>
                            </a>
                        </li>
                        <li>
                            <a id="countries" href="@Url.Action("Index", "Countries")">
                                <i class="bi bi-circle"></i><span>Countries</span>
                            </a>
                        </li>
                        <li>
                            <a id="orders" href="@Url.Action("Index","Orders")">
                                <i class="bi bi-circle"></i><span>Orders</span>
                            </a>
                        </li>
                        <li>
                            <a id="orderProducts" href="@Url.Action("Index", "OrderProducts")">
                                <i class="bi bi-circle"></i><span>Order Products</span>
                            </a>
                        </li>
                        <li>
                            <a id="locations" href="@Url.Action("Index","Locations")">
                                <i class="bi bi-circle"></i><span>Locations</span>
                            </a>
                        </li>
                        <li>
                            <a id="regions" href="@Url.Action("Index", "Regions")">
                                <i class="bi bi-circle"></i><span>Regions</span>
                            </a>
                        </li>
                        <li>
                            <a id="vendors" href="@Url.Action("Index", "Vendors")">
                                <i class="bi bi-circle"></i><span>Vendors</span>
                            </a>
                        </li>
                        <li>
                            <a id="roles" href="@Url.Action("ListRoles", "Administration")">
                                <i class="bi bi-circle"></i><span>Roles</span>
                            </a>
                        </li>

                        <li>
                            <a id="users" href="@Url.Action("ListUsers", "Administration")">
                                <i class="bi bi-circle"></i><span>Users</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item"> <a class="nav-link" asp-action="Documentation" asp-controller="Home">Documentation</a></li>
                <!-- End ADMIN Nav -->
            }
            <!--<a class="nav-link " href="/">
                   <i class="cib-atom"></i>
                   <span>Dashboard</span>
               </a>-->

            <!-- ACCOUNTING NAV START -->
            @if (User.IsInRole("Accounting"))
            {

                <li class="nav-item">
                    <a class="nav-link show" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-journal-text"></i><span>Accounting</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="forms-nav" class="nav-content show " data-bs-parent="#sidebar-nav">
                        <li>
                            <a id="customers" href="@Url.Action("Index","Customers")">
                                <i class="bi bi-circle"></i><span>Customers</span>
                            </a>
                        </li>
                        <li>
                            <a id="sales" href="@Url.Action("Index", "Sales")">
                                <i class="bi bi-circle"></i><span>Sales</span>
                            </a>
                        </li>
                        <li>
                            <a id="saleProducts" href="@Url.Action("Index", "SaleProducts")">
                                <i class="bi bi-circle"></i><span>Product Sales</span>
                            </a>
                        </li>
                        <li>
                            <a id="products" href="@Url.Action("Index", "Products")">
                                <i class="bi bi-circle"></i><span>Products</span>
                            </a>
                        </li>
                        <li>
                            <a id="orders" href="@Url.Action("Index","Orders")">
                                <i class="bi bi-circle"></i><span>Orders</span>
                            </a>
                        </li>
                        <li>
                            <a id="orderProducts" href="@Url.Action("Index", "OrderProducts")">
                                <i class="bi bi-circle"></i><span>Order Products</span>
                            </a>
                        </li>
                        <li>
                            <a id="vendors" href="@Url.Action("Index", "Vendors")">
                                <i class="bi bi-circle"></i><span>Vendors</span>
                            </a>
                        <li>
                            <a id="employees" href="@Url.Action("Index", "Employees")">
                                <i class="bi bi-circle"></i><span>Employees</span>
                            </a>
                        </li>

                </li>
            </ul>
            </li>

            <!-- End ACCOUNTING Nav -->
            }

        <!-- HUMAN RESOURCES NAV START -->
            @if (User.IsInRole("HR"))
            {


            <li class="nav-item">
                <a class="nav-link show" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Human Resources</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content show " data-bs-parent="#sidebar-nav">
                    <li>
                        <a id="employees" href="@Url.Action("Index", "Employees")">
                            <i class="bi bi-circle"></i><span>Employees</span>
                        </a>
                    </li>
                    <li>
                        <a id="departments" href="@Url.Action("Index", "Departments")">
                            <i class="bi bi-circle"></i><span>Departments</span>
                        </a>
                    </li>
                    <li>
                        <a id="locations" href="@Url.Action("Index","Locations")">
                            <i class="bi bi-circle"></i><span>Locations</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End HUMAN RESOURCES Nav -->
            }


        <!-- LOGIN LOGOUT REGISTER -->

        <li class="nav-item">
            <partial name="_LoginPartial" />
        </li>

        <!-- End Login Page Nav -->
        </ul>

    </aside><!-- End Sidebar-->
    <main id="main">
        @RenderBody()
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright @DateTime.Now.Year <strong><span>Atomic Synergistics</span></strong>. All Rights Reserved
        </div>
        @* <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>*@
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->

    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>


    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    <script src="~/assets/js/navbar.js"></script>


    @RenderSection("scripts",required:false)

</body>

</html>